# Node.js
**/node_modules/
**/package-lock.json

# Go
**/bin/
**/pkg/
**/.idea/
**/.vscode/
**/go.sum

# Rust
**/target/
**/Cargo.lock

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# Backup files
*.bak
*.swp
